.aboutContainer {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-white-medium);
  position: relative;
  margin: 0;
  margin-bottom: 5rem;
}
.container_content{
  width: 95vw;
  height: auto;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  margin-top: 20rem;
}
.title {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  max-width: 90%;
  z-index: 2;
  margin-bottom: 6rem;
  text-align: center;
}
.description {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  max-width: 90%;
  max-width: 80%;
  text-align: center;
  margin-bottom: 5rem;

}
.mapButton {
  min-width: 20rem;
  height: 2.7rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  overflow: hidden;
  pointer-events: all;
  max-width: 50%;
  border: none;
}

.wave_container {
  height: 55vh;
  width: 100vw;
  background-color: #000000;
  position: absolute;
  top: 0;
}
.wave_container img {
  position: absolute;
  width: 100%;
  height: 35vh;
}
.wave_container::before {
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 35vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  116' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 85L50 80C100 75 200 64 300 43C400 22 500 -9 600 2C700 12 800 64 900 85C1000 106 1100 96 1150 90L1200 85V116H1150C1100 116 1000 116 900 116C800 116 700 116 600 116C500 116 400 116 300 116C200 116 100 116 50 116H0V85Z' fill='%23f7f9f9'/></svg>");
}

@media (max-width: 850px) {
  .wave_container::before {
    height: 80px;
  }
}