@keyframes slide {
  0% {
    transform: translateX(100%); /* El texto empieza fuera de la pantalla */
  }
  100% {
    transform: translateX(
      -100%
    ); /* El texto se mueve hacia fuera del lado izquierdo */
  }
}

.ledContainer {
  width: 100%; /* Ancho total del contenedor */
  height: 3rem; /* Altura del contenedor */
  overflow: hidden; /* Escondemos el texto cuando sale del contenedor */
  background-color: black; /* Para darle un efecto de LED */
  color: white; /* Color del texto */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.ledText {
  white-space: nowrap; /* Evita que el texto haga salto de línea */
  display: inline-block;
  color: white;
  margin: 0;
  padding: 0;
  animation: slide 20s linear infinite; /* Animación de 10s, continua */
}
