.expandingSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: hidden; /* Previene el scroll en el contenedor de expansión */
  background-color: #3498db;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transition: height 0.5s ease, transform 0.5s ease;
  z-index: 5;
}
