.expandingSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 20vh;
  max-height: none;
  overflow: hidden;
  transition: height 1s ease, transform 1s ease;
  z-index: 4;
  background-color: white;
}
