.featureBlock_main {
  width: 100vw;
  height: auto;
  min-height: 95vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white-medium);
  position: relative;
  padding: 2rem 0;
}
.container {
  width: 90vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
  position: relative;
}
.heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}
.heading h2 {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: var(--text-big);
}
.img_hotSale {
  max-width: 30rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 2rem;
}
.description {
  font-size: var(  --text-small);
  font-family: var(--font-paragraph);
  font-weight: 300;
  max-width: 90%;
  max-width: 90%;
  text-align: start;
}
.carousel {
  width: 95vw;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  min-height: 25rem;
  max-height: 35rem;
  display: grid;
  grid-auto-flow: column; /* Hace que los elementos fluyan en columnas */
  gap: 1rem;
  margin-top: 2rem;
  scroll-behavior: smooth
}
.container_card {
  width: 16rem;
  height: 100%;

}
.container_card_link {
  width: 16rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
}
.icon {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.798);
  border-radius: 50%;
  font-weight: 200;
}
.title {
  font-family: var(--font-title);
  font-size: var(--text-big);
}
.btnAction {
  min-width: 90vw;
  margin: auto;
  height: 3rem;
  display: flex;
  margin: auto;
  margin-top: 3rem;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: var(--text-small);
  font-family: "Roboto Slab", serif;
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

