.featureBlock_main {
  width: 100vw;
  height: auto;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white-medium);
  position: relative;
  padding: 2rem 0;
}
.container {
  width: 90vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
  position: relative;
}
.heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.heading h2 {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: var(--text-big);
}
.img_hotSale {
  max-width: 30rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 2rem;
}
.description {
  font-size: var(  --text-small);
  font-family: var(--font-paragraph);
  font-weight: 300;
  max-width: 90%;
  max-width: 90%;
  text-align: start;
}
.carousel {
  width: 95vw;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  display: grid;
  grid-auto-flow: column; /* Hace que los elementos fluyan en columnas */
  grid-auto-columns: 20rem; /* Ajusta el número de columnas */
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}
.container_card {
  width: auto;
  height: 100%;
}
.container_card_link {
  width: auto;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
}
.icon {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.798);
  border-radius: 50%;
  font-weight: 200;
}
.title {
  font-family: var(--font-title);
  font-size: var(--text-big);
}
.btnAction {
  min-width: 90vw;
  margin: auto;
  height: 3rem;
  display: flex;
  margin: auto;
  margin-top: 3rem;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: var(--text-small);
  font-family: "Roboto Slab", serif;
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}
.wave_container {
  height: 30vh;
  width: 100vw;
  background-color: #000000;
  position: absolute;
  top: 0;
}
.wave_container::before {
  content: "";
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 35vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  116' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 85L50 80C100 75 200 64 300 43C400 22 500 -9 600 2C700 12 800 64 900 85C1000 106 1100 96 1150 90L1200 85V116H1150C1100 116 1000 116 900 116C800 116 700 116 600 116C500 116 400 116 300 116C200 116 100 116 50 116H0V85Z' fill='%23f7f9f9'/></svg>");
}

@media (max-width: 850px) {
  .wave_container::before {
    height: 80px;
  }
}
