.featureBlock_main {
  width: 100vw;
  height: auto;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  background-color: var(--color-white-medium);
  position: relative;
  padding: 2rem 0;
}
.container {
  width: 95vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: scroll;
  width: 95vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: mandatory;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}
.item_discout {
  min-width: 25rem;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  scroll-snap-align: center;
}
.img_hotSale {
  max-width: 30rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 2rem;
}
.description {
  font-size: var(--text-small);
  font-family: var(--font-subtitle);
  color: rgba(0, 0, 0, 0.817);
  font-weight: 300;
  max-width: 90%;
  max-width: 90%;
  text-align: start;
  padding: 0 5px;
}
.carousel {
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  display: grid;
  grid-auto-flow: column; /* Hace que los elementos fluyan en columnas */
  gap: 1.5rem;
  scroll-behavior: smooth;
  padding: 10px;
  margin-top: 1rem;
}
.container_card {
  width: 18rem;
  height: 100%;
  max-height: 30rem;
}
.container_card_link {
  width: 17rem;
  height: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
}
.icon {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.798);
  border-radius: 50%;
  font-weight: 200;
  margin: 2rem;
}
.title {
  font-family: var(--font-title);
  font-size: var(--text-big);
  font-weight: 300;
}
.btnAction {
  margin-top: 1.5rem;
  min-width: 15rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-small);
  font-family: "Roboto Slab", serif;
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}


@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.09); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Zoom out */
  }
}


@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.title {
  animation: slideUp 0.6s ease-in-out forwards;
}

.description {
  animation: slideUp 0.6s ease-in-out forwards;
}

