.contactInfoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  min-height: 80vh;
}
.title {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);

}
.contactItem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.contactIcon {
  font-size: 2rem;
}
.container_text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
}
.contactText {
  font-family: var(--font-subtitle);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
}

.faqContainer {
  gap: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.faqItem {
  overflow: hidden;
  width: 100%;
  min-height: 3rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.faqHeader {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--font-subtitle);
  font-size: var(--font-size-subtitle);
}

.faqContent {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0 auto;
  font-family: var(--font-paragraph);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph);
}
