@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap");

.home_container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
  scroll-behavior: smooth;
}
.home_container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.header {
  width: 100vw;
  height: 75vh;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: center;
  overflow: hidden;

}
.card {
  width: 100vw;
  min-height: 50vh;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.765) 0%, rgba(0, 0, 0, 0.77) 60%, transparent 100%);
}

.title {
  padding: 0;
  margin: 0;
  line-height: 0.8;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(244, 240, 240);
  font-size: 4rem;
  z-index: 4;
  margin-left: 1rem;
  max-width: 90%;
}
.description {
  color: rgb(243, 243, 243);
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  max-width: 90%;
  z-index: 4;
  margin-left: 1rem;
  max-width: 90%;



}
.btnAction {
  min-width: 20rem;
  height: 2.7rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  overflow: hidden;
  pointer-events: all;
  z-index: 5;
  margin-left: 1rem;
  max-width: 50%;


  
}

.twoColumnsContainer {
  height: 40vh;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  position: relative;
}

.singleRowContainer {
  height: 60vh;
  width: 100vw;
  display: flex;
  background-color: aliceblue;
  overflow: hidden;
  position: relative;


  /* otras propiedades si es necesario */
}
.icon {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%);
  color: rgba(0, 0, 0, 0.798);
  background-color: rgba(255, 255, 255, 0.533);
  border-radius: 50%;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .header {
    height: 100vh;
  }
  .twoColumnsContainer {
    height: 65vh;
  }
  .singleRowContainer {
    height: 85vh;
  }
}
@media (max-width: 500px) {
  .header {
    height: 80vh;
  }
  .twoColumnsContainer {
    height: 30vh;
  }
  .singleRowContainer {
    height: 50vh;
  }
}
