@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap");

.home_container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
  scroll-behavior: smooth;
}
.home_container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 2px;
}
.header {
  width: 100vw;
  height: 75vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card {
  width: 100vw;
  height: auto;
  margin-top: 10rem;
  margin-left: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 1rem;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.365);
  backdrop-filter: blur(2px);
  z-index: 2;
}
.title {
  margin: 0;
  padding: 0;
  line-height: 0.8;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size: 5rem;

  z-index: 4;
}
.description {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  max-width: 90%;
  z-index: 4;
}
.btnAction {
  width: 50%;
  height: 3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.791);
  color: white;
  overflow: hidden;
  pointer-events: all;
  z-index: 5;
}

.twoColumnsContainer {
  height: 40vh;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 0, 0);
  gap: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px -8px 8px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -8px 8px -3px rgba(0,0,0,0.75);
  box-shadow: 0px -8px 8px -3px rgba(0,0,0,0.75);  /* otras propiedades si es necesario */
}

.singleRowContainer {
  height: 60vh;
  width: 100vw;
  display: flex;
  background-color: aliceblue;
  overflow: hidden;
  position: relative;


  /* otras propiedades si es necesario */
}
.icon {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%);
  color: rgba(0, 0, 0, 0.798);
  background-color: rgba(255, 255, 255, 0.533);
  border-radius: 50%;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .header {
    height: 90vh;
  }
  .twoColumnsContainer {
    height: 65vh;
  }
  .singleRowContainer {
    height: 85vh;
  }
}
@media (max-width: 500px) {
  .header {
    height: 75vh;
  }
  .twoColumnsContainer {
    height: 40vh;
  }
  .singleRowContainer {
    height: 60vh;
  }
}
