.sliders_main {
    width: 100vw;
    height: 100vh;
}

.slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 60s infinite;
}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.shadow {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.797) 0%, rgba(0, 0, 0, 0) 90%);
    pointer-events: none; 
}

