.product_price {
  display: flex;
  margin-left: 0.5rem;
}
.product_price_details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.product_price_original {
  color: red;
  text-decoration: line-through;
  font-size: .8rem;
}
.product_price_discounted {
  color: green;
}
.product_price_percentage {
  color: white;
  background-color: rgba(0, 0, 0, 0.762);
  font-size: 0.8rem;
  padding: 3px;
}
.product_price_normal {
  color: green;
}
