.product_price {
  display: flex;
  margin-left: 0.5rem;
}
.product_price_details {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 0 0.8rem;
  font-size: 1rem;
}
.product_price_details_Detail_card {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 0 0.8rem;
  font-size: 1.5rem;
}
.product_price_original {
  color: red;
  text-decoration: line-through;
  margin: 0;
  padding: 0;

}
.product_price_discounted {
  color: green;
  margin: 0;
  padding: 0;
}
.product_price_percentage {
  color: white;
  background-color: rgba(0, 0, 0, 0.762);
  margin: 0;
  padding: 0;
}
.product_price_normal {
  color: green;
  margin: 0;
  padding: 0;

}
