@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.card_main {
  width: 100%;
  height: 100%;
  min-width: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var( --color-white-small);
  box-sizing: border-box; /* Incluye padding y border dentro de las dimensiones */
}

.container_carrousel {
  width: 100%;
  height: 80%; /* Cambié a un 70% para dar más espacio a la descripción */
  position: relative; /* Para posicionar elementos dentro del contenedor, como el icono */
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%; /* Asegura que ocupe toda la altura del contenedor */
  object-fit: cover;


}

.icon {
  position: absolute;
  left: 50%;
  bottom: .2rem;
  transform: translate(-50%, 0);
  color: rgba(0, 0, 0, 0.798);
  border-radius: 50%;
  font-size: 1.7rem;
}
.flag_discount{
  position: absolute;
  top: 1rem;
  left: 0;
  width: auto;
  height: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: red;
  box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.6);
}

.description {
  width: 100%;
  height: auto;
  min-height: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 0.2rem; /* Espacio entre los elementos internos */
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
  height: auto;
  color: black;
  margin-left: 0.5rem;
}

.text_discount{
  padding: 10px;
  font-size: 1rem;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;

}
