@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.card_main {
  width: 100%;
  height: 100%;
  min-width: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf0f1;
  box-sizing: border-box; /* Incluye padding y border dentro de las dimensiones */
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.75);
}

.container_carrousel {
  width: 90%;
  height: 80%; /* Cambié a un 70% para dar más espacio a la descripción */
  position: relative; /* Para posicionar elementos dentro del contenedor, como el icono */
  overflow: hidden;
  margin-top: 1rem;
}

.image {
  width: 100%;
  height: 100%; /* Asegura que ocupe toda la altura del contenedor */
  object-fit: cover;
}
.imageAnimated {
  animation: zoomInOut 1.5s both;

}
.icon {
  position: absolute;
  left: 50%;
  bottom: 0.2rem;
  transform: translate(-50%, 0);
  color: rgba(0, 0, 0, 0.798);
  border-radius: 50%;
  font-size: 1.7rem;
}
.flag_discount {
  position: absolute;
  top: 1rem;
  left: 0;
  width: auto;
  height: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: red;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.6);
}

.description {
  width: auto;
  min-width: 90%;
  height: auto;
  min-height: 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 0.2rem; /* Espacio entre los elementos internos */
  margin-top: 0.5rem;
  background-color: #ecf0f1;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
  height: auto;
  color: black;
}

.text_discount {
  padding: 10px;
  font-size: 1rem;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}
.flag_discountAnimated {
  animation: slideRigth .5s ease-in-out forwards;

}
@keyframes zoomInOut {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideRigth {
  0% {
    opacity: 0;
    transform: translatex(-200px);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}