.card_main{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-transform: uppercase;

}
.image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.icon {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border-radius: 50%;
}
.title{
    text-overflow: ellipsis;
    padding: .3rem;
}