@import url("https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap");
/* Main navbar container */
.navbar {
  width: 100%;
  min-height: 40%;
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  pointer-events: none;
}
.logo {
  max-width: 20%;
  margin-top: 1rem;
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}

.link {
  width: 70%;
  max-width: 90%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
  height: 20%;
  gap: 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
/*-----------BOTON-------------*/
.cta {
  min-height: 10%;
  min-width: 1rem;
  max-width: 20rem;
  background: none;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border: none;
  pointer-events: all;
  font-size: 1.5rem;
}

.cta span {
  letter-spacing: 4px;
  text-transform: uppercase;
  width: auto;
  min-width: 1.5rem;
  height: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.46);
  font-style: normal;
}

.hover_underline_animation {
  position: relative;
  color: white;
  height: 10%;

  background-color: rgba(255, 255, 255, 0);
}

.hover_underline_animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 10%;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 1s ease-out;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.46);
}

.cta:hover .hover_underline_animation:after,
.cta.active .hover_underline_animation:after {
  color: white;

  transform: scaleX(1);
  transform-origin: bottom left;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.46);
}

/*------------------------------*/
@media (max-width: 2000px) {
  .link {
    top: 11.5rem;
  }
  .logo {
    max-width: 17%;
    margin-top: 0.2rem;
  }
}

@media (max-width: 1920px) {
  .link {
    top: 8rem;
    width: 70%;
    max-width: none;
    font-size: 1rem;
  }
  .logo {
    max-width: 15%;
    margin-top: 0.2rem;
  }
  .cta span {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
@media (max-width: 1440px) {
  .link {
    top: 65%;
  }
  .logo {
    max-width: 25%;
    margin-top: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .navbar {
    min-height: 35%;
  }
  .logo {
    max-width: 45%;
    margin-top: 2.5rem;
  }
  .link {
    top: 20rem;
    width: 80%;
  }
  .cta span {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  .navbar {
    min-height: 30%;
  }
  .link {
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    height: 20%;
    top: 17rem;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0rem;
  }
  .btn {
    min-width: 100%;
  }
  .logo {
    max-width: 50%;
  }
  .cta span {
    font-size: 1.5rem;
  }
}
@media (max-width: 780px) {
  .link {
    top: 10rem;
    height: 5rem;
    top: 13rem;
    display: flex;
    flex-flow: row nowrap;
  }
  .logo {
    max-width: 35%;
  }
}
@media (max-width: 450px) {
  .navbar {
    height: auto;
  }
  .link {
    height: auto;
    max-height: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    top: 10rem;
  }
  .logo {
    max-width: 50%;
    margin-top: 0.5rem;
  }
  .hover_underline_animation:after {
    height: .2rem;
    bottom: 0.1rem;
  }
  .cta {
    height: auto;
    min-width: 30%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 1.3rem;
  }
  .cta span {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .link {
    top: 9rem;
  }
}