@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

.nav_main_container {
  width: 100vw;
  height: 30vh;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
.nav_actions_container {
  width: 100vw;
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;


}
.image_and_categories_container {
  height: 25vh;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);



}
.visible {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.menu_button {
  width: 10%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  margin-left: .5rem;
  pointer-events: all;


}
.cart_button {
  width: 15%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  margin-right: .5rem;
  pointer-events: all;


}
.cart_button span {
  font-size: 1rem;
}
.category_image {
  width: 100%;
  height: 80%;
  position: relative;
  color: white;
  pointer-events: scroll;


}
.title_secion{
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-family: "Barlow Condensed", sans-serif;


  font-size: 2rem;

}
.image {
  width: auto;
  max-width: 14rem;
  height: auto;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  margin-top: 1rem;
  transition: opacity 0.5s ease-out;

}

.categories_carousel {
  display: none;

}
.cta {
  width: auto;
  min-width: 6rem;
  height: 1.5rem;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  gap: 1px;
  pointer-events: all;
  color: white;
}

.cta span {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-family: "Anaheim", sans-serif;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.46);
  color: white;
  margin: 0;
  padding: 0;
}

.hover_underline_animation {
  position: relative;
  text-decoration: none;
  color: white;
}

.hover_underline_animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2px;
  bottom: 0;
  left: 0;
  background-color: #ffffffaf;
  transform-origin: bottom right;
  transition: transform 1.5s ease-out;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.46);
  color: white;
  border: 1px solid rgb(255, 255, 255);
}

.cta:hover .hover_underline_animation:after,
.cta.active .hover_underline_animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white;
}


/* Responsive adjustments
@media (max-width: 1440px) {
  .logo {
    width: 20vw;
    max-width: 18%;
  }

  .cta span {
    font-size: 1rem;
  }
  .link {
    max-width: 57%;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 22vw;
    max-width: 30%;
  }

  .cta span {
    font-size: 1rem;
  }
  .link {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 30vw;
    max-width: 40%;
    margin-bottom: 0.5rem;
  }

  .cta span {
    font-size: 0.8rem;
  }
  .link {
    justify-content: center;
    gap: 0.5em 2em;
  }
}

@media (max-width: 450px) {
  .navbar {
    justify-content: start;
  }
  .logo {
    width: 70vw;
    max-width: 50%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

  }

  .cta {
    min-width: 20%;
    max-width: 100%;

  }

  .cta span {
    font-size: 1.3rem;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
  }
  .link {
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.1em 0em;
    width: auto;
  }
  .inActive {
    display: none;
  }
  
} */
@media (max-width: 1440px) {
  .categories_carousel {
    width: auto;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
}
@media (max-width: 500px) {
  .categories_carousel {
    display: none;
  }
}
