@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap');

.detailCard_main {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
  background-color: #f0f3f4;
  border: 1px solid black;
  overflow: hidden;

}

.detail_product {
  max-width: 95%;
  height: 100%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}

.recommendedProductos_container {
  width: 100%;
  margin-left: 1rem;
  position: relative;
  pointer-events: none;
}

.productHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.productName {
  font-size: 3rem;
  margin: 0.5rem 0;
  font-family: "Bebas Neue", sans-serif;
}

.productPrice {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
}

.productDescription {
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

.productSizes {
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  text-decoration: underline;
  margin: 0.2rem;
}

.productActions_btn {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 1rem;
}

.productActions_btn button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  min-width: 10rem;
  font-family: "Roboto Slab", serif;
}

.productActions_btn button:hover {
  background-color: #555;
}

.recommended_text {
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

/* Media Queries */

@media (max-width: 1920px) {
  .productName {
    font-size: 3rem;
    border: none;
  }
  .productDescription {
    font-size: 1.5rem;
  }
  .productSizes {
    font-size: 1.5rem;
  }
  .productActions_btn button {
    font-size: 1.5rem;
  }
  .recommended_text {
    font-size: 1.3rem;
  }
}

@media (max-width: 1440px) {
  .productName {
    font-size: 2.5rem;
  }
  .productDescription {
    font-size: 1.2rem;
  }
  .productSizes {
    font-size: 1.2rem;
  }
  .productActions_btn button {
    font-size: 1.2rem;
  }
  .recommended_text {
    font-size: 1rem;
  }
}

@media (max-width: 1366px) {
  .productName {
    font-size: 2.5rem;
  }
  .productDescription {
    font-size: 1.2rem;
  }
  .productSizes {
    font-size: 1.2rem;
  }
  .productActions_btn button {
    font-size: 1.2rem;
  }
  .recommended_text {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .detailCard_main {
    border: none;

  }
  .productName {
    font-size: 2.5rem;
  }
  .productDescription {
    font-size: 1.5rem;
  }
  .productSizes {
    font-size: 1.5rem;
  }
  .detail_product {
    font-size: 1.5rem;
  }
  .recommendedProductos_container {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .detailCard_main {
    grid-template-rows: 1fr 1fr;
    overflow-y: auto;
  }
  .detail_product {
    max-width: none;
    height: auto;
    margin-left: 0;
  }
  .recommendedProductos_container {
    max-width: none;
    height: auto;
    margin-left: 0;
  }
  .productName {
    font-size: 2.5rem;
  }
  .productPrice {
    font-size: 2rem;
  }
  .productDescription {
    font-size: 1.3rem;
  }
  .productSizes {
    font-size: 1.3rem;
  }
  .productActions_btn {
    flex-direction: column;
    gap: 0.5rem;
  }
  .productActions_btn button {
    font-size: 1.5rem;
  }
  .recommended_text {
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  .detail_product {
    max-width: 100%;
    margin-left: 0;
    height: 100%;
  }
  .recommendedProductos_container {
    max-width: 100%;
    margin-left: 0;
  }
  .productName {
    font-size: 2.3rem;
  }
  .productPrice {
    font-size: 1.8rem;
  }
  .productDescription {
    font-size: 1rem;
  }
  .productSizes {
    font-size: 1.2rem;
  }
  .productActions_btn button {
    font-size: 1.2rem;
  }
  .recommended_text {
    font-size: 1rem;
  }
}
