.detailCard_main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  margin: 0 auto;
}

.detail_product {
  max-width: 95%;
  height: 100%;
  max-height: none;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recommendedProductos_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.productHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.productName {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.productPrice {
  font-size: 1.5rem;
  margin: 0.2rem 0;
}

.productDescription {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.productSizes {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.productActions_btn {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 1rem;
}

.productActions_btn button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  min-width: 10rem;
}

.productActions_btn button:hover {
  background-color: #555;
}

.recommended_text {
  text-align: center;
}

@media (max-width: 1024px) {
  .detailCard_main {
    grid-template-rows: 60% 40%;
  }
  .detail_product {
    max-width: 90%;
    max-height: 25rem;
    margin-left: 0;
  }

  .recommendedProductos_container {
    max-width: 90%;
    margin-left: 0;
    min-height: 28rem;
  }

  .productName {
    font-size: 1.5rem;
  }

  .productDescription {
    font-size: 1.2rem;
  }
  .productSizes {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .detailCard_main {
    grid-template-rows: 1fr 1fr;
  }
  .detail_product {
    max-width: none;
    height: auto;
    max-height: none;


  }

  .recommendedProductos_container {
    max-width: none;
    height: 100%;
    max-height: none;
  }

  .productName {
    font-size: 1.8rem;
  }

  .productPrice {
    font-size: 1.8rem;
  }

  .productDescription {
    font-size: 1.6rem;
  }

  .productSizes {
    font-size: 1.6rem;
  }

  .productActions_btn {
    flex-direction: column;
    gap: 0.5rem;
  }
  .productActions_btn button {
    font-size: 1.5rem;
  }
  .recommended_text {
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  .detail_product {
    max-width: 100%;
    margin-left: 0rem;
    height: 100%;
  }

  .recommendedProductos_container {
    max-width: 100%;
    margin-left: 0rem;
  }

  .productName {
    font-size: 1.5rem;
  }

  .productPrice {
    font-size: 1.2rem;
  }

  .productDescription {
    font-size: 1.2rem;
  }

  .productSizes {
    font-size: 1.1rem;
  }
  .productActions_btn button {
    font-size: 1.2rem;
  }
}
