.tarjeta_main_expanding {
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 40rem;
  overflow: auto;
  transition: 1s ease;
  background-color: var( --color-white-medium);
  gap: 1rem

}

.tarjeta_main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f7f9f9;
}
.productHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  min-height: 20vh;
  height: auto;
  width: 95%;
  margin: auto;
  margin-top: .5rem;

}
.productName {
  font-family: var(--font-title);
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}
.priceContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  height: auto;
  min-height: 2rem;
  font-family: var(--font-title);

}

.productDescription {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 5rem;
  overflow: scroll;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 5px;
  font-family: var( --font-paragraph);
  font-weight: var( --font-weight-small);


}
.productColorsContainer{
  width: 95%;
  height: auto;
  margin: auto;
  min-height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  align-items: start;
  margin-top: 1rem;
}
.title_colors{
  font-family: var( --font-subtitle);
  font-size: var(--text-small);
  text-transform: uppercase;
}
.colors{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: auto;
  gap: 1rem;
}
.colorOption{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.productSizes {
  min-height: 4.5rem;
  height: auto;
  width: 95%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: start;
  margin: auto;
  text-align: start;
  margin-top: 1rem;


}
.sizes {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  
}
.title_sizes {
  font-family: var( --font-subtitle);
  font-size: var(--text-small);
  text-transform: uppercase;
}
.size {
  padding: 0.5rem;
  width: 4rem;
  height: 2.5rem;
  box-sizing: border-box;
  font-family: var( --font-subtitle);
  font-size: var(--text-small);
  font-size: 1.2rem;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.cash_media {
  min-height: 7rem;
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}
.title_cash_media{
  font-family: var( --font-subtitle);
  font-size: var(--text-small);
  text-transform: uppercase;
}
.cash_media_container_img {
  width: auto;
  object-fit: contain;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}
.imgCard {
  max-width: 3rem;
  padding: 0.2rem;
  transition: transform 0.2s ease-in-out;
}

.imgCard:hover {
  transform: scale(1.1);
}
.productActions_btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 95%;
  margin: auto;
  min-height: 7rem;
  margin-top: 2rem;
}
.productActions_btn button {
  font-size: var(--text-small);
  font-family: "Roboto Slab", serif;
  height: 2.3rem;
  color: #000000;
  background-color: var(--color-white-big);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.productActions_btn button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.reccomended {
  width: 100%;
  height: auto;
  min-height: 10rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  font-family: var( --font-subtitle);
  font-size: var(--text-small);
  text-transform: uppercase;
}
