.detai_main {
  height: auto;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 100vh auto 30vh;
  gap: 1rem;
  background-color: #f4f6f7;
  overflow-x: hidden;
}

.container_detail {
  width: 60%;
  height: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}
.container_recommendedProducts {
  width: 60%;
  height: auto;
  margin: auto;
  min-height: 70vh;
  overflow: hidden;
  border: 1px solid black;
}

.carrousel {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
  gap: 1rem;
}

.carrousel img {
  object-fit: contain;
}

.container_card {
  position: relative;
  overflow: hidden;
  margin: 0 0.5rem;
  padding: 0;
  width: auto;
  height: auto;
  max-width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

@media (max-width: 1440px) {
  .container_detail {
    width: 85%;
    height: 85%;
  }
  .container_recommendedProducts {
    width: 85%;
  }
}
@media (max-width: 1920px) {
  .container_detail {
    width: 95%;
    height: 90%;
    max-width: none;
  }
  .container_recommendedProducts {
    width: 95%;
  }
}
@media (max-width: 1024px) {
  .container_detail {
    width: 95%;
    height: 80%;
  }
  .container_card {
    max-width: none;
  }

}

@media (max-width: 890px) {
  .detai_main {
    grid-template-rows: auto auto 30vh;
  }
  .container_detail {
    grid-template-columns: 1fr;
    grid-template-rows: 80vh auto;
    width: 100vw;
    height: auto;
  }

  .container_card {
    max-height: 80vh;
  }
}

@media (max-width: 450px) {
  .container_card {
    min-height: 100vh;
  }
}
