.RecommendedProducts_main {
    min-height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: .5rem;
    padding: 0 1.5rem;
    margin: 0;
    overflow-x: auto; /* Habilita el scroll vertical si se excede la altura */
    border: 1px solid black
}

.item {
    border: 1px solid black;
}
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {

}
@media (max-width: 768px) {
}
@media (max-width: 450px) {
}
