.RecommendedProducts_main {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px 3px;
  margin-bottom: 1rem;
  margin-top: 20vh;
  overflow: hidden;
  box-sizing: border-box;
}
.RecommendedProducts_main_white_navbar {
  width: 100vw;
  height: auto;
  overflow: hidden;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 10rem;
  box-sizing: border-box;
  grid-gap: 3px 3px;
  border: 3px solid white;
  margin-top: 20vh;

}

.item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.description{
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
  padding: 3px;
  background-color: var(--color-white-medium);
  font-size: .9rem;
}
.flag_discount{
  position: absolute;
  top: 1rem;
  left: 0;
  width: auto;
  max-width: 4rem;
  height: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: red;
  box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.6);
}
.text_discount{
  padding: 10px;
  font-family: var( --font-subtitle);
  font-size: var(--text-small);
  color: white;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;

}

/*============== Scren 1440 =============*/
@media (max-width: 1440px) {
  .RecommendedProducts_main {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 35rem;
  }
  .RecommendedProducts_main_white_navbar {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 35rem;
  }
}
/*============== Scren 1080 =============*/
@media (max-width: 1080px) {
}
/*============== Scren 1024=============*/
@media (max-width: 1024px) {
  .RecommendedProducts_main {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35rem;
  }
  .RecommendedProducts_main_white_navbar {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35rem;
  }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
  .RecommendedProducts_main {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
  }
  .RecommendedProducts_main_white_navbar {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
  }
}
@media (max-width: 600px) {
  .RecommendedProducts_main {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20rem;
  }
  .RecommendedProducts_main_white_navbar {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20rem;
  }
}
