@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap");


.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-row: 100vh 100vh;
  scroll-behavior: smooth;
  position: relative;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header {
  width: 100vw;
  height: 75vh;
  position: sticky;
  top: 0;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}

.card {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.77), transparent 100%);
}
.inamtionCard {
  animation: slideUp 1s ease-in-out forwards;
}
.animationImage {
  animation: zoomInOut 1s both;
}
.inamtionButton {
    animation: slideUp 1.2s ease-in-out forwards;
  }
.title {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  color: white;
  line-height: 3.5rem;
  width: auto;
}

.description {
  margin-left: 1rem;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  color: white;
}

.button {
  min-width: 15rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 5px;
}

/* Animations */
@keyframes zoomInOut {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.01);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
  }
  72% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive breakpoints */
@media (max-width: 768px) {
  .header {
    height: 100vh;
  }
  .twoColumns {
    height: 65vh;
  }
  .singleRow {
    height: 85vh;
  }
}

@media (max-width: 500px) {
  .header {
    height: 100vh;
  }
  .twoColumns {
    height: 40vh;
  }
  .singleRow {
    height: 60vh;
  }
}
