@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  display: flex;
  overflow: hidden;
}
img {
  height: auto;
  object-fit: cover;
}
/* Container for the slider section */
.slider-section {
  background-color: #3b3939;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 90vh;
}

/* Inner container */
.container {
  margin: auto;
  padding: 12px;
  width: 100%;
  max-width: 90%;
  text-align: center;
}

/* Header and text styles */
:root {
  /* Tipografías */
  --font-title: "Bebas Neue", sans-serif;
  --font-subtitle: "Hind Siliguri", sans-serif;
  --font-paragraph: "Dosis", sans-serif;
  /* Tamaños de fuente */
  --text-big: 2.3rem; /* Título */
  --text-medium: 1.2rem; /* Subtítulo */
  --text-small: .9rem; /* Párrafo */
  
  /* Pesos de fuente */
  --font-weight-big: 800; /* Título */
  --font-weight-medium: 600; /* Subtítulo */
  --font-weight-small: 300; /* Párrafo */

  --color-white-big: #fbfcfc; /* Título */
  --color-white-medium: #f7f9f9; /* Subtítulo */
  --color-white-small: #f4f6f7; /* Párrafo */

  

}
