@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 350px;
  min-height: 100vh;
  overflow: hidden;
}
img {
  height: auto;
  object-fit: cover;
}

:root {
  /* Tipografías */
  --font-title: "Bebas Neue", sans-serif;
  --font-subtitle: font-family: "Hind Siliguri", sans-serif;
  --font-paragraph: font-family: "Dosis", sans-serif;
  /* Tamaños de fuente */
  --text-big: 2rem; /* Título */
  --text-medium: 1rem; /* Subtítulo */
  --text-small: .9rem; /* Párrafo */
  
  /* Pesos de fuente */
  --font-weight-big: 800; /* Título */
  --font-weight-medium: 600; /* Subtítulo */
  --font-weight-small: 300; /* Párrafo */
}
