@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 350px;
  min-height: 100vh;
  overflow: hidden;
}
img {
  height: auto;
  object-fit: cover;
}

:root {
  /* Tipografías */
  --font-title: "Bebas Neue", sans-serif;
  --font-subtitle: font-family: "Hind Siliguri", sans-serif;
  --font-paragraph: font-family: "Dosis", sans-serif;
  /* Tamaños de fuente */
  --font-size-title: 1.5rem; 
  --font-size-subtitle: 1rem; 
  --font-size-paragraph: .9rem; 
  
  /* Pesos de fuente */
  --font-weight-title: 700; /* o 400, si prefieres usar números */
  --font-weight-subtitle: 500; /* Semi-bold */
  --font-weight-paragraph: 400; /* Regular */
}