@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

.nav_main_container {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  transition: background-color 1.5s, top 1.5s;
}

.nav_main_container_withBackground {
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(5px);
  transition: background-color 1.5s, top 1.5s;
}

.nav_actions_container {
  width: 90vw;
  margin: auto;
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
  font-family: var(--font-title);
  font-size: var(--text-medium);
  transition: background-color 1.5s, top 1.5s;
  position: relative;
}

.icon {
  font-size: 2rem;
  box-sizing: border-box;
  transition: font-size 1.5s;
}

.categorie {
  position: relative;
  transition: left 1.5s;
  width: 20rem;
  height: 2rem;
  left: 0;
}

.categorie img {
  max-width: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categorie h2 {
  position: absolute;
  left: 0;
  height: 100%;
  margin: auto;
  padding: 0;
  font-size: 1.3rem;
  display: flex;
  margin-left: .5rem;
  flex-flow: column nowrap;
  justify-content: center;
}