.detail_main {
  height: 80vh;
  overflow: hidden;
  position: relative;
  background-color: aqua;
  overscroll-behavior: contain;
}

.carousel {
  height: 80vh;
  background: lightgray; /* Para visualización */
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
}

.detail {
  height: 20vh;
  background: white; /* Para visualización */
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s ease;
}

.expanded {
  transform: translateY(-60vh); /* Ajusta según el espacio que quieras ocupar */
}
