.detail_main{
  width: 100vw;
  height: 100vh;
  background-color: azure;
}
.carrousel {
  width: 100vw;
  height: 80vh;
  border: 1px solid black;
  overflow: scroll;
}
.detail{
  width: 100vw;
  height: 20vh;
  
}